<link rel="stylesheet" href="/css/header.css">

<style>
    div.buttonhidden {
    display: none;
}

div.handyhidden {
    display: block;
}

div.handylogo a {
    float: left;
    margin-left: 10%;
}

div.buttonhidden button {
    margin:4% 0 3% 25%;
    background-color: white;
    border: 0;
}

@media screen and (max-width: 600px) {
    div.buttonhidden {
        display: block;        
        margin-bottom: 6%;
    }

    div.handyhidden {
        display: none;
        position: relative;
        left: -10%;
        font-size: 80%;
    }

    div.handylogo {
        position: relative;
        left: -5%;
    }
}
</style>

<script>
    function menuhidden() {
    var x = document.getElementById("menu_kontakt");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

    <div class="handylogo">
        <a href="/"><img src="/images/logo.png" width="200" height="58" ></a>
    </div>
    
    <div class="buttonhidden">
        <button onclick="menuhidden()"><img src="/images/menu.png"></button>
    </div>

    <div id="menu_kontakt" class="handyhidden">
        {{ partial "menu_main.html" . }}
    </div>
    

